<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-VariableFont_wght.ttf</string>
		<string>Urbanist-Italic-VariableFont_wght.ttf</string>
		<string>Urbanist-BoldItalic.ttf</string>
		<string>Urbanist-ExtraBoldItalic.ttf</string>
		<string>Urbanist-BlackItalic.ttf</string>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-ThinItalic.ttf</string>
		<string>Urbanist-ExtraLightItalic.ttf</string>
		<string>Urbanist-LightItalic.ttf</string>
		<string>Urbanist-Italic.ttf</string>
		<string>Urbanist-MediumItalic.ttf</string>
		<string>Urbanist-SemiBoldItalic.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-Thin.ttf</string>
		<string>Urbanist-ExtraLight.ttf</string>
	</array>
</dict>
</plist>
